body {
    background-color: #afd3e2;
    font-family: 'Roboto', sans-serif;
}

.login {
    height: 100vh;
    width: 75vh;
    background-color: #f6f1f1;
}



h1, h6{
    text-align: center;
    margin: 1rem;

}